# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Node
node_modules/
dist/
build/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Optional: ignore large data if needed
# data/*.db
# data/*.parquet

# Power BI backups
*.pbix.bak
